body {
    margin: auto;
}

.nv {
    display: flex;
    justify-content: space-between;
    background: #313131;
}

.logo-container {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.logo1 {
    padding: 22px;
}

.architect {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
}

.main-menu {
    display: flex;
    flex-direction: row;  
    align-items: baseline;  
    flex-wrap: wrap;
}

.hover {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 10px;
}

.hover:hover {
    color: red;
    cursor: pointer;
}

.white-header-btn {
    white-space: pre; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px 10px;
} 

.home {
    color: #FFFFFF;
}

.home:hover {
    color:cornflowerblue;
    cursor: pointer;
}

.icons {
    background: url(icon.png);
}

.black {
    min-width: 70px;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(header-background.png);
    height: 370px;
    flex-direction: column;
}

.latest {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.buttons {
    display: flex;
}

.subscribe {
    background: #89CA62;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best {
    background: #14B9D5;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-button {
    white-space: pre;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    margin: 10px;
}

.most {
    background: #F2F2F2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.most-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
}

.posts {
    max-height: 850px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.post {
    background: white;
    margin: 10px;
}

.post-text {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #353A3D;
}

.shape {
    background-image: url(Layer4.png);
    height: 588px;
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.title-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 80px;
}

.rectangle {
    width: 60px;
    height: 3px;
    background: #18B4CF;
}

.brand {
    margin: 130px 50px;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
}

.row-images {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.row-image {
    width: 14.29%;
}



.most-liked {
    margin: 50px 300px 80px 300px;
}

.hot-news {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}

.shape2 {
    display: flex;
    flex-direction: row;
}

.shape3 {
    display: flex;
    flex-direction: row;
}

.most-liked-post1 {
    width: 70%;
    display: flex;
    flex-direction: row
}

.most-liked-post2 {
    width: 30%;
}

.most-liked-title {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #353A3D;
}

.most-liked-txt {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #5B6469;
}

.most-liked-post1 {
    margin: 10px;
    background: #F2F2F2;
}

.most-liked-post2 {
    margin: 10px;
    background: #F2F2F2;
}


.most-liked-post3 {
    margin: 10px;
    background: #F2F2F2;
}

.footer {
    height: 80px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    margin-left: 200px;
}

.footer-logo {
    margin-right: 200px;
}

.most-liked-image1 {
    display: flex;
    justify-content: flex-end;
} 

.most-liked-text {
    margin-left: 20px;
    margin-right: 20px;
}









